<div class="main">
  <div class="header"><h5>Discovered Devices</h5></div>
  <mat-list class="list">
      <h6>Arduino 1</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 2</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 3</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 4</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 5</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 6</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 7</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 8</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 9</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 10</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 11</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 12</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 14</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 15</h6>
      <mat-divider class="devider"></mat-divider>
      <h6>Arduino 16</h6>
    </mat-list>
</div>