.main-container{
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to right, #ffff05, #d5d72b, #aeaf36, #88893b, #65653b);
    float: right;
    overflow: scroll;
    z-index: 0;
    position: relative;
}

.add-group-btn{
    position: fixed;
    bottom: 32px;
    right: 32px;
  }

